NODE_ENV=development
APP_NAME=SakhiSafe Backend
APP_PORT=4000
FRONTEND_URL=http://localhost:3000
ENABLE_SWAGGER=true

POSTGRES_DB=sakhi_safe_app
POSTGRES_USER=sakhisafe_user
POSTGRES_PASSWORD=sakhisafe_password

DATABASE_URL=postgresql://sakhisafe_user:sakhisafe_password@postgres:5432/sakhi_safe_app?schema=public

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=1d

INTERNAL_SERVICE_CLIENT_ID=sakhi-ai-service
INTERNAL_SERVICE_CLIENT_SECRET=change-me-secret
SERVICE_JWT_SECRET=very-strong-service-jwt-secret
SERVICE_JWT_EXPIRES_IN=15m

BCRYPT_SALT_ROUNDS=10
